:root {
  --primaryColor: #f15433;
  --secondaryColor: #c43276;
  --accentColor: #c40202;
}

h1 {
  color: var(--accentColor);
}

h2 {
  color: var(--primaryColor);
}

h3 {
  color: var(--secondaryColor);
}

p {
  color: var(--accentColor);
}
